#main-page-section{
    height: 645px;
    background-color: #efeeee;
}

#main-functions-section{
    position: relative;
    top: 10px;
    /*border: 1px solid black;*/
}

.function-div{
    /*border: 1px solid black;*/
    height: 300px;
}

.function-div>div{
    height: 100%;
}