main{
    position: relative;
    height: 675px;
}

.main-section{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 672px;
}

#home-page-content-section{
    position: relative;
    top: 20px;
}

#home-page-row-1{
    border: 1px solid brown;
}

.home-page-col-1{
    height: 315px;
    border: 1px solid #b300ff;
    position: relative;
}

#home-page-row-2{
    border: 1px solid #09ad61;
}

.home-page-col-2{
    height: 315px;
    border: 1px solid #050674;
    position: relative;
}

#img-4,#img-5{
    width: 99%;
}

.home-img{
    width: 98%;
    height: 98%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/*#customer-page-section{*/
/*    height: 675px;*/
/*    position: absolute;*/
/*}*/