#canvas1{
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    /*border: 3px solid #bf7f7f;*/
    width: 1535px;
    height: 734px;
    background-color: black;
}

#player{
    position: absolute;
    width:250px;
    margin:auto;
    height: 200px;
    border:1px solid #391313;
    /*background-image: url("img/Idle (1).png");*/
    background-position: center;
    background-size: cover;
    bottom:105px;
    left:30px;
}

.enemy{
    width: 100px;
    height: 50px;
    background-color: #cb5f0c;
    position: absolute;
    z-index: 10;
    margin: auto;
    bottom: 100px;
    /*background-image: url("img/blueOne.gif");*/
    background-size: cover;
    background-position: center;
}
