#canvas1{
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    /*border: 3px solid #bf7f7f;*/
    width: 1535px;
    height: 734px;
    /*background-color: black;*/
}

#player{
    position: absolute;
    width: 200px;
    margin:auto;
    height: 200px;
    border:1px solid #391313;
    /*background-image: url("Run (1).png");*/
    background-position: center;
    background-size: cover;
    bottom:112px;
}