/*about-me-page-styles*/
#about-me-page{
    position: relative;
    width: 98.88vw;
    /*width: 100vw;*/
    height: 870px;
    background-color: #1f1f1f;
    /*background-color: #1d0644;*/
    /*border-top-left-radius: 40px;*/
    /*border-top-right-radius: 40px;*/
    /*background-color: #ffffff;*/
}

#about-me-page>article{
    position: absolute;
    width: 100%;
    height: 100%;
}

#about-me-page>article>#about-me-page-text-contents{
    z-index: 2;
    position: absolute;
    margin:auto;
    top: 190px;
    width: 70%;
    /*left: 17%;*/
    left: 0;
    right: 0;
    /*border: 1px solid #c7bfbf;*/
}

#about-me-page>article>#about-me-page-my-image{
    position: absolute;
    /*border: 1px solid whitesmoke;*/
    width: 242px;
    height: 222px;
    margin: auto;
    top: -60px;
    /*left: 42%;*/
    left: 0;
    right:0;
    z-index: 0;
}

#about-me-page>article>#about-me-page-my-image>img{
    width: 240px;
    height: 220px;
    border-radius: 100%;
}

.page-main-header{
    z-index: 1;
    font-family: Chiller;
    display: inline-block;
    position: sticky;
    margin: auto;
    /*text-align: center;*/
    left: 5%;
    top:30%;
    font-size: 800%;
    color: rgba(35, 24, 24, 0.46);
    text-transform: uppercase;
}

#about-me-page>article>#about-me-page-text-contents>h1{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    color: #f1eeee;
    text-align: center;
}

#about-me-page>article>#about-me-page-text-contents>p{
    text-align: center;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    color: #f1f0f0;
}

#about-me-page>article>#about-me-page-text-contents>p:first-child{
    font-size: 30px;
    font-family: "Blackadder ITC";
}

#about-me-page-btn-section{
    margin: auto;
    position: absolute;
    /*border: 1px solid whitesmoke;*/
    margin: auto;
    width: 151px;
    height: 41px;
    bottom: 25%;
    left: 0;
    right: 0;
}

#about-me-page-btn-section>button{
    /*border-radius: 20px;*/
    background-color: #5202a1;
    border: none;
    /*background-color: transparent;*/
    color: #fdfdfd;
    height: 40px;
    width: 170px;
    font-family: 'Poppins', sans-serif;
}

#about-me-page-btn-section>button:hover{

}

.project-desc{
    /*border: 2px solid red;*/
}

.project-image{
    /*border: 2px solid blue;*/
}
/*-----------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

@media all and (max-width: 960px){
    #about-me-page{
        /*background-color: #127806;*/
    }

    #about-me-page-btn-section{
        bottom: 20%;
    }

    /*#projects-container{*/
    /*    width: 1200px;*/
    /*    height: 1000px;*/
    /*}*/
}

/*--------------------------------------------------------------------------------------------------*/

@media all and (max-width: 700px){
    #about-me-page{
        /*background-color: #127806;*/
        height: 950px;
    }

    #about-me-page-btn-section{
        bottom: 20%;
    }

    /*#projects-container{*/
    /*    width: 1200px;*/
    /*    height: 1000px;*/
    /*}*/
}


/*----------------------------------------------------------------------------------*/

@media all and (max-width: 580px){
    #about-me-page{
        /*background-color: #127806;*/
        height: 1000px;
    }

    #about-me-page-btn-section{
        bottom: 20%;
    }

    /*#projects-container{*/
    /*    width: 1200px;*/
    /*    height: 1000px;*/
    /*}*/
}

/*------------------------------------------------------------------------------------------*/
@media all and (max-width: 500px){
    #about-me-page{
        /*background-color: #127806;*/
        height: 1100px;
    }

    #about-me-page-btn-section{
        bottom: 18%;
    }
}

/*-------------------------------------------------------------------------------------*/
@media all and (max-width: 415px){
    #about-me-page{
        /*background-color: #127806;*/
        height: 1160px;
    }

    #about-me-page-btn-section{
        bottom: 15%;
    }
}


/*-------------------------------------------------------------------------------------*/
@media all and (max-width: 320px){
    #about-me-page{
        /*background-color: #127806;*/
        height: 1180px;
    }

    #about-me-page-btn-section{
        bottom: 12%;
    }
}