/*about-me-page-styles*/
#about-me-page{
    position: relative;
    width: 98.88vw;
    height: 50vw;
    background-color: #5c06a8;
}

#about-me-page>article{
    position: absolute;
}

.page-main-header{
    font-family: 'DM Mono', monospace;
    display: inline-block;
    /*position: absolute;*/
    /*text-align: center;*/
    /*left: 0;*/
    /*right: 0;*/
    font-size: 200%;
    /*text-transform: uppercase;*/
    background-image: linear-gradient(
            -225deg,
            #ffffff 0%,
            #e57a08 29%,
            #ffc413 67%,
            #9dff00 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

#about-me-page>article>#about-me-page-text-contents>h1{
    margin-left: 100px;
    font-family: 'DM Mono', monospace;
    font-weight: lighter;
    color: white;
}

#about-me-page>article>#about-me-page-text-contents>p{
    margin-left: 100px;
    font-family: 'DM Mono', monospace;
    font-weight: lighter;
    color: white;
}