/*about-me-page-styles*/
#about-me-page{
    position: relative;
    width: 98.88vw;
    height: 55vw;
    background-color: #1f1f1f;
}

#about-me-page>article{
    position: absolute;
    width: 100%;
    height: 100%;
}

#about-me-page>article>#about-me-page-text-contents{
    z-index: 2;
    position: absolute;
    top: 190px;
    width: 1000px;
    left: 17%;
}

#about-me-page>article>#about-me-page-my-image{
    position: absolute;
    top: -60px;
    left: 42%;
    z-index: 0;
}

#about-me-page>article>#about-me-page-my-image>img{
    width: 240px;
    height: 220px;
    border-radius: 100%;
}

.page-main-header{
    z-index: 1;
    font-family: Chiller;
    display: inline-block;
    position: sticky;
    margin: auto;
    /*text-align: center;*/
    left: 5%;
    top:30%;
    font-size: 800%;
    color: rgba(35, 24, 24, 0.46);
    text-transform: uppercase;
}

#about-me-page>article>#about-me-page-text-contents>h1{
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    color: #f1eeee;
    text-align: center;
}

#about-me-page>article>#about-me-page-text-contents>p{
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    color: #f1f0f0;
}

#about-me-page>article>#about-me-page-text-contents>p:first-child{
    font-size: 30px;
    font-family: "Blackadder ITC";
}

#about-me-page-btn-section{
    margin: auto;
    position: absolute;
    bottom: 200px;
    left: 45%;
}

#about-me-page-btn-section>button{
    border-radius: 20px;
    border: 2px solid #5707b3;
    background-color: transparent;
    color: #fdfdfd;
    height: 40px;
    width: 150px;
    font-family: 'Poppins', sans-serif;
}

