#contact-me-page{
    position: relative;
    background-color: rgba(16, 16, 16, 0.97);
    /*background-color: rgba(201, 71, 9, 0.97);*/
    width: 98.88vw;
    height:680px;
}

#contact-me-page-topic{
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    position: absolute;
    margin: auto;
    /*border: 1px solid whitesmoke;*/
    width: 290px;
    /*text-align: center;*/
    left:0;
    right: 0;
    top:70px;
    font-size: 300%;
    color: #d7d6d6;
    /*text-transform: uppercase;*/
}

#contact-me-page>img{
    position: absolute;
    top: 400px;
    left: 5%;
    width: 13%;
}

#contact-me-page-text-content{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    width: 990px;
    top: 140px;
    text-align: center;
    border: 1px solid whitesmoke;
}

#contact-me-page-text-content>p{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color: #c7c6c6;
}

fieldset{
    height: 340px;
    border-color: red;
}

input{
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
    box-shadow: 1px 1px  whitesmoke;
}

#contact-form-section{
    position: absolute;
    margin: auto;
    top:250px;
    border: 1px solid red;
    left: 0;
    right: 0;
    height: 52%;
    width:960px;
}

#input-name{
    width: 438px;
    height: 50px;
}

#input-email{
    width: 438px;
    height: 50px;
    margin-left: 16px;
}

#input-header{
    width: 910px;
    height: 50px;
    margin-top: 30px;
}

#input-message{
    width: 910px;
    height: 150px;
    margin-top: 30px;
}