#contact-me-page{
    background-color:rgba(120, 34, 206, 0.91);
    width: 98.9vw;
    height:800px;
}

#contact-me-page-topic{
    font-family: Chiller;
    display: inline-block;
    position: sticky;
    margin: auto;
    /*text-align: center;*/
    left: 24%;
    top:30%;
    font-size: 800%;
    color: rgba(255, 255, 255, 0.53);
    text-transform: uppercase;
}