#contact-me-page{
    position: relative;
    background-color: rgba(16, 16, 16, 0.97);
    /*background-color: rgba(201, 71, 9, 0.97);*/
    width: 98.88vw;
    height:680px;
}

input{
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

#contact-me-page-topic{
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    position: absolute;
    margin: auto;
    /*border: 1px solid whitesmoke;*/
    width: 290px;
    /*text-align: center;*/
    left:0;
    right: 0;
    top:70px;
    font-size: 300%;
    color: #d7d6d6;
    /*text-transform: uppercase;*/
}

#contact-me-page>img{
    position: absolute;
    top: 400px;
    left: 5%;
    width: 13%;
}

#contact-me-page-text-content{
    position: absolute;
    margin: auto;
    left: 0%;
    right: 0;
    width: 62%;
    top: 140px;
    text-align: left;
    /*border: 1px solid whitesmoke;*/
}

#contact-me-page-text-content>p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #c7c6c6;
}

fieldset{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    height: 400px;
    border:none;
}

input{
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
    box-shadow: 1px 1px  whitesmoke;
}

#contact-form-section{
    position: absolute;
    margin: auto;
    top:250px;
    /*border: 1px solid red;*/
    left: 0;
    right: 0;
    height: 410px;
    width:960px;
}

#input-name{
    width: 438px;
    height: 50px;
}

#input-email{
    width: 438px;
    height: 50px;
    margin-left: 16px;
}

#input-header{
    width: 910px;
    height: 50px;
    margin-top: 30px;
}

#input-message{
    width: 910px;
    height: 150px;
    margin-top: 30px;
}

#send-message-btn{
    width: 180px;
    height: 40px;
    margin-top: 30px;
    position: absolute;
    margin: auto;
    right: 18px;
    top: 350px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: none;
    /*font-weight: bold;*/
    background-color: #9610ea;
    color: whitesmoke;
}
/*-----------------------------------------------------------------------------------*/
@media all and (max-width: 985px){
    #contact-me-page{
        /*background-color: rgba(3, 49, 78, 0.97);*/
        height:900px;
    }
    #contact-me-page>img{
        display: none;
    }
    #contact-form-section{
        width:660px;
        height: 500px;
        top: 300px;
    }
    fieldset{
        width: 100px;
    }
    #input-name{
        width: 600px;
    }
    #input-email{
        width: 600px;
        margin-left: -1px;
        margin-top: 30px;
    }

    #input-header{
        width: 600px;
    }
    #input-message{
        width: 600px;
    }
    #send-message-btn{
        top:450px;
        right: 30px;
    }
}

/*------------------------------------------------------------------------------------------------*/

@media all and (max-width: 680px){
    #contact-me-page{
        /*background-color: rgba(51, 2, 94, 0.97);*/
        height:900px;
    }
    #contact-form-section{
        width:400px;
        height: 500px;
        top: 300px;
    }
    fieldset{
        width: 100px;
    }
    #input-name{
        width: 350px;
    }
    #input-email{
        width: 350px;
    }

    #input-header{
        width: 350px;
    }
    #input-message{
        width: 350px;
    }
    #send-message-btn{
        right: 10px;
    }
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media all and (max-width: 400px){
    #contact-me-page{
        /*background-color: rgba(51, 2, 94, 0.97);*/
        height:900px;
    }
    #contact-form-section{
        width:300px;
        height: 500px;
        top: 300px;
        /*border:2px solid whitesmoke;*/
    }
    fieldset{
        width: 100px;
    }
    #input-name{
        width: 270px;
    }
    #input-email{
        width: 270px;
    }

    #input-header{
        width: 270px;
    }
    #input-message{
        width: 270px;
    }
    #send-message-btn{
        right: 20px;
        width: 270px;
    }
    #contact-me-page-text-content{
        position: absolute;
        margin: auto;
        left: 0%;
        right: 0;
        width: 80%;
        top: 140px;
        text-align: center;
        /*border: 1px solid whitesmoke;*/
    }
}