/*body{*/
/*    background-color:  rgba(16, 16, 16, 0.97);*/
/*}*/
/* width */
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(16, 16, 16, 0.97);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #646366;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bcbbbd;
}

header{
    position: fixed;
    top: 0;
    width: 98.88vw;
    height: 60px;
    z-index: 8;
    /*background-color: rgb(26, 26, 26);*/
    background-color: #151515;
}

/*header-side-image*/
header>#my-image>h2{
    /*width: 50px;*/
    height: 50px;
    position: absolute;
    margin: auto;
    left: 100px;
    top: 10px;
    /*border-radius: 50%;*/
    font-family: 'Bilbo Swash Caps', cursive;
    font-weight: lighter;
}

/*main-form-header-navigations-list*/
header>#header-navigations>nav>#list-navigations{
    /*border: 2px solid #ffffff;*/
    /*width: 40%;*/
    /*margin-left: 1%;*/
    font-size: 100%;
}

#header-navigations{
    position: absolute;
    margin: auto;
    top: 4px;
    background-color:#151515;
    width: 600px;
}

/*main-form-header-navigations-list*/
header>#header-navigations>nav>#list-navigations>li{
    display: inline-block;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color:#e8e8e8;
}

header>#header-navigations>nav>#list-navigations>li a{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color:#e8e8e8;
    text-decoration: None;
}

header>#header-navigations>nav>#list-navigations>li a:hover{
    color: #ac1de8;
}


main{
    position: relative;
    width: 98.88vw;
}

main>#main-page{
    position: relative;
    margin-top: 60px;
    /*background-color: #9610ea;*/
    width: 100%;
    height: 750px;
}


/*main-page-introduction-name-area*/
main>#main-page>#main-page-introduction{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

/*main-page-name-section*/
main>#main-page>#main-page-introduction>#main-page-name{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 0.97);
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*main-page-name*/
main>#main-page>#main-page-introduction>#main-page-name>h1{
    /*font-family: 'Aclonica', sans-serif;*/
    font-family:Chiller;
    display: inline-block;
    position: absolute;
    /*background: -webkit-linear-gradient(180deg, rgb(8, 132, 226), rgb(179, 23, 243),deepskyblue);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    text-align: center;
    /*margin: auto;*/
    left: 0;
    right: 0;
    /*top:23%;*/
    font-size: 800%;
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #18f19a 0%,
            #7d2ade 29%,
            #ff1361 67%,
            #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    /*background-clip: text;*/
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
    /*font-size: 190px;*/

}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

/*main-page-second-intro*/
main>#main-page>#main-page-introduction>section:nth-child(2){
    position: absolute;
    width: 100%;
    height: 130px;
    margin: auto;
    background-color: #171717;
    bottom: 64px;
}

main>#main-page>#main-page-introduction>section:nth-child(2)>h2{
    color: white;
}

main>#main-page>#main-page-introduction>section:nth-child(2)>h2:nth-child(1){
    position: absolute;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 12px;
    font-size: 20px;
    left: 0;
    right: 0;
    top: 0;
    /*font-weight: bold;*/
}

main>#main-page>#main-page-introduction>section:nth-child(2)>h2:nth-child(2){
    position: absolute;
    text-align: center;
    /*font-family: 'Amita', cursive;*/
    font-family: 'Poppins', sans-serif;
    left: 0;
    font-size: 15px;
    padding-top: 10px;
    right: 0;
    font-weight: bold;
    top: 30px;
}


/*main-page-contact-btn*/
main>#main-page>#main-page-introduction>section:nth-child(2)>button{
    position: absolute;
    text-align: center;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(245, 235, 10, 0.89);
    border:transparent;
    border-radius: 25px;
    color: #211d1d;
    width: 200px;
    font-size: 15px;
    font-weight: lighter;
    height: 40px;
    left: 0;
    right: 0;
    bottom: 10px;
}

#say-hello-btn{
    position: absolute;
    margin: auto;
    right: 3%;
    background-color: transparent;
    top: 10px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #bab8bd;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #e8e8e8;
}

#say-hello-btn a{
    text-decoration: none;
    color: white;
}

#say-hello-btn:hover{
    background-color: #9c26e5;
    border-color: transparent;
    color: white;
}



/*-------------------------------------------------------------------------------*/

#main-page>#main-page-social-links{
    position: absolute;
    margin: auto;
    width: 240px;
    height: 400px;
    background-color: transparent;
    top: -70px;
    bottom: 0;
    left: -120px;
    display: flex;
    flex-flow: column;
}

#main-page>#main-page-social-links>div{
    margin: auto;
    /*border: 1px solid red;*/
    width: 80%;
    height: 45px;
    display: flex;
    transition-duration: 300ms;
    margin-left: 1px;
    transition-property: margin-left;
}

#main-page>#main-page-social-links>div:hover{
    cursor: pointer;
    transition-duration:300ms;
    margin-left: 120px;
    transition-property: margin-left;
    background-color: #4b4a4a;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#main-page>#main-page-social-links>div:hover>div>img{
    margin-left: 50px;
}

#main-page>#main-page-social-links>div>div{
    margin: auto;
    /*border: 1px solid #00ffff;*/
    height: 100%;
    width: 49%;
}

.social-img>img{
    width: 40px;
    height: 40px;
    margin-left: 38px;
    margin-top: 2px;
}

.social-name>p{
    color: whitesmoke;
    margin-left: 6px;
    font-family: 'Poppins', sans-serif;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
footer{
    /*position: relative;*/
    width: 98.88vw;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.97);
}

footer>section>p{
    position: relative;
    text-align: center;
    margin:auto;
    top: 15px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #d4d1d1;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media all and (max-width: 669px){
    #header-navigations{
        display: none;
    }
}

/*----------------------------------------------------------------*/
@media all and (max-width: 560px){
    main>#main-page>#main-page-introduction>#main-page-name>h1{
        font-size: 100px;
        padding-top: 80px;
    }
}

/*-------------------------------------------------------------------*/
@media all and (max-width: 450px){
    main>#main-page>#main-page-introduction>#main-page-name>h1{
        font-size: 70px;
        padding-top: 150px;
    }
}
