header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
}

/*header-side-image*/
header>#my-image>h2{
    /*width: 50px;*/
    height: 50px;
    position: absolute;
    margin: auto;
    left: 100px;
    top: 10px;
    /*border-radius: 50%;*/
    font-family: 'Bilbo Swash Caps', cursive;
    font-weight: lighter;
}

/*main-form-header-navigations-list*/
header>#header-navigations>nav>#list-navigations{
    /*border: 2px solid #ffffff;*/
    width: 40%;
    margin-left: 1%;
    font-size: 100%;
}

/*main-form-header-navigations-list*/
header>#header-navigations>nav>#list-navigations>li{
    display: inline-block;
    margin-right: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

main{
    position: relative;
}

main>#main-page{
    position: relative;
    margin-top: 60px;
    /*background-color: #9610ea;*/
    width: 100%;
    height: 700px;
}


/*main-page-introduction-name-area*/
main>#main-page>#main-page-introduction{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0e0e0e;
}

/*main-page-name-section*/
main>#main-page>#main-page-introduction>#main-page-name{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*main-page-name*/
main>#main-page>#main-page-introduction>#main-page-name>h1{
    /*font-family: 'Aclonica', sans-serif;*/
    font-family: 'DM Mono', monospace;
    display: inline-block;
    position: absolute;
    /*background: -webkit-linear-gradient(180deg, rgb(8, 132, 226), rgb(179, 23, 243),deepskyblue);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    text-align: center;
    left: 0;
    right: 0;
    font-size: 800%;
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    /*background-clip: text;*/
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    /*font-size: 190px;*/

}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

/*main-page-second-intro*/
main>#main-page>#main-page-introduction>section:nth-child(2){
    position: absolute;
    width: 100%;
    height: 130px;
    margin: auto;
    background-color: #ffffff;
    bottom: 30px;
}

main>#main-page>#main-page-introduction>section:nth-child(2)>h2:nth-child(1){
    position: absolute;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 12px;
    font-size: 20px;
    left: 0;
    right: 0;
    top: 0;
    /*font-weight: bold;*/
}

main>#main-page>#main-page-introduction>section:nth-child(2)>h2:nth-child(2){
    position: absolute;
    text-align: center;
    /*font-family: 'Amita', cursive;*/
    font-family: 'Poppins', sans-serif;
    left: 0;
    font-size: 15px;
    padding-top: 10px;
    right: 0;
    font-weight: bold;
    top: 30px;
}


/*main-page-contact-btn*/
main>#main-page>#main-page-introduction>section:nth-child(2)>button{
    position: absolute;
    text-align: center;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(245, 235, 10, 0.89);
    border:transparent;
    border-radius: 25px;
    color: #211d1d;
    width: 200px;
    font-size: 15px;
    font-weight: lighter;
    height: 40px;
    left: 0;
    right: 0;
    bottom: 10px;
}

#say-hello-btn{
    position: absolute;
    margin: auto;
    right: 4%;
    background-color: white;
    top: 16px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 3px solid #9c26e5;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#say-hello-btn:hover{
    background-color: #9c26e5;
    border-color: transparent;
    color: white;
}



/*-------------------------------------------------------------------------------*/
