#my-projects-page{
    position: relative;
    background-color: #1f1f1f;
    width: 98.88vw;
    height: 1000px;
}

#my-projects-page-topic{
    font-family: Poppins;
    display: inline-block;
    position: absolute;
    margin: auto;
    /*text-align: center;*/
    left: 41%;
    top:10%;
    font-size: 300%;
    color: rgba(255, 255, 255, 0.91);
    /*text-transform: uppercase;*/
}

