main>#skills-and-tools-page{
    width:98.88vw;
    height: 500px;
    background-color: rgba(16, 16, 16, 0.97);
    position: relative;
}

#skills-and-tools-page>h1{
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    position: relative;
    margin: auto;
    left: 37%;
    top: 6%;
    font-size: 60px;
    color: rgb(120, 34, 206);
    text-transform: uppercase;
    z-index: 1;
}

#skills-and-tools-page>#skills-section{
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top:-120px;
    /*width: 1400px;*/
    height: 700px;
    width: 95vw;
    /*height: 45vw;*/
    /*border: 1px solid rebeccapurple;*/
    display: flex;
    justify-content: space-between;
    z-index: 2;
    background-color: #8c08d2;
    border-radius: 20px;
    /*box-shadow:0px 4px 4px 0px #5f5e5f;*/
}

#skills-and-tools-page>#skills-section>div{
    position: relative;
    height: 100%;
    /*width: 430px;*/
    width: 2687.5%;
    flex-grow: 1;
    /*width: calc(100%/3);*/
    /*flex-grow: 1;*/
    background-color: rgb(36, 36, 36);
    border: 1px solid rgba(45, 45, 45, 0.93);
    /*border: 1px solid rebeccapurple;*/
    /*border-radius:20px;*/
    z-index: 2;
}

#skills-and-tools-page>#skills-section>div:hover{
    background-color: #131313;
}

#skills-and-tools-page>#skills-section>div>.skill-header{
    position: relative;
    top: 50px;
    color: #f5f3f5;
    font-family: 'Poppins', sans-serif;
    /*font-size: 20px;*/
    font-size: 121%;
    text-align: center;
}

/*.skills-theme-img{*/
/*    position: absolute;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    border-radius: 100%;*/
/*    margin: auto;*/
/*}*/

#skill-page-desktop-app-dev{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#skill-page-mobile-app-dev{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.skill-page-text-contents{
    position: absolute;
    margin: auto;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    text-align: center;
}

.skill-page-text-contents>p{
    color: #e3e3e3;
    /*font-size: 17px;*/
    font-size: 101%;
    font-family: 'Poppins', sans-serif;
}

.skill-and-tools{
    width: 90%;
    height: 350px;
    position: absolute;
    margin: auto;
    /*background-color: white;*/
    /*border: 2px solid #e3dfdf;*/
    top:300px;
    right: 0;
    left: 0;
    text-align: center;
}

.skill-and-tools>h2{
    color: #9610ea;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    /*position: absolute;*/
    /*margin: auto;*/
    /*text-align: center;*/
}

.skill-and-tools>p{
    color: #efeeef;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    /*position: absolute;*/
    /*margin: auto;*/
    /*text-align: center;*/
}

/*#desktop-app-dev-img{*/
/*    background-image: url("images/download.jpg");*/
/*    top:100px;*/
/*    right: 0;*/
/*    left: 0;*/
/*}*/
/*#mobile-app-dev-img{*/
/*    background-image: url("images/zymr8_steps_the_mobile_app_dev_lifecycle_cover.jpg");*/
/*    bottom: -40px;*/
/*    right: -20px;*/
/*}*/
/*#web-app-dev-img{*/
/*    right: -20px;*/
/*    top: -40px;*/
/*    background-image: url("images/21-215275_mobile-app-development-png.png");*/
/*}*/


/*-----------------------------------------------------------------------------*/

@media all and (max-width: 1040px){
    main>#skills-and-tools-page{
        background-color: rgba(234, 9, 9, 0.97);
    }
}

/*--------------------------------------------------------------------------------*/
@media all and (max-width: 830px){
    main>#skills-and-tools-page{
        background-color: rgba(96, 2, 130, 0.97);
        height: 1800px;
    }

    #skills-and-tools-page>#skills-section{
        position: relative;
        margin: auto;
        left: 0;
        right: 0;
        top:-120px;
        height: 2000px;
        display: flex;
        flex-flow: column;
    }

    #skills-and-tools-page>#skills-section>div{
        position: relative;
        height: calc(100%/3);
        /*width: 430px;*/
        width: 100%;
        /*flex-grow: 1;*/
        /*width: calc(100%/3);*/
        /*flex-grow: 1;*/
        background-color: rgb(36, 36, 36);
        border: 1px solid rgba(45, 45, 45, 0.93);
        /*border: 1px solid rebeccapurple;*/
        /*border-radius:20px;*/
        z-index: 2;
    }

    .skill-and-tools{
        /*background-color: white;*/
        /*border: 2px solid #e3dfdf;*/
        top:240px;
    }

    #skill-page-desktop-app-dev{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 1px;
    }

    #skill-page-mobile-app-dev{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
    }
}